html, body{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: none;
    background-color: var(--background);
    color: var(--color);
    font-family: Arial, Helvetica, sans-serif;
}


body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}


/* BODY */
body > .main {
    width: 100%;
    padding: var(--padding);
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
}

body > .main > .link-main {
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    column-gap: 12px;
    row-gap: 12px;
}

body > .main > span {
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: gray;
    position: absolute;
}


/* LINK BOX */

.linkbox {
    width: 265px;
    background-color: rgba(30, 143, 255, 0.02);
    background-color: rgba(30, 143, 255, 0.1);
    display: flex;
    justify-content: start;
    align-items: center;
    box-sizing: border-box;
    border: 0.1px solid rgb(218, 218, 218);
    border: 0.5px solid transparent;
    padding: 5px 10px;
    column-gap: 10px;
    transition: 0.02s ease-in;
}
.linkbox:hover { border: 0.5px solid dodgerblue; }
.linkbox:active { background-color: dodgerblue; }

.linkbox > img { width: 24px; height: 24px;}
.linkbox > p {
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
}
.linkbox > span { display: none;}


/* Floating Button */
.floating-button{
    position: fixed;
    bottom: 5%;
    right: 5%;
}
.floating-button > img {
    width: 36px;
    height: 36px;
    padding: 15px;
    background-color: var(--primary);
    border-radius: 50%;
}
.floating-button > img:hover { background-color: rgb(19, 88, 247); }
.floating-button > img:active { background-color: rgba(19, 87, 247, 0.693); }


/* Toast Message */
.toast-msg{
    width: max-content;
    max-width: 300px;
    padding: 15px 20px;
    border-radius: 7px;
    background-color: var(--toast-bg);
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 7px;
    box-sizing: border-box;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 99;
    display: none;
}
.toast-msg > p { margin: 0; }

/* Mobile Phone */
@media only screen and (max-width: 600px){
    
    .linkbox { width: 100%; }
    body > .main > span { height: 30vh;}
    .floating-button > img {
        width: 26px;
        height: 26px;
    }
    .toast-msg{
        border-radius: 50px;
        left: 50%;
        right: 50%;
        bottom: 15%;
        transform: translate(-50%, 50%);
    }
    .toast-msg > p{ font-size: 10px; }
}