:root{
    --primary: #0000ff;
    --padding: 20px;
    --background: white;
    --toast-bg: rgba(0, 0, 0, 0.9);
    --dialog-bg: rgba(0, 0, 0, 0.3);
    --dialog-shadow: 0px 1px 7px rgba(128, 128, 128, 0.5);
    --button-negative: rgba(220, 220, 220);
    --button-positive: rgb(17, 132, 246);
    --button-delete: rgb(246, 25, 17);
    --link: #0000ff;
    --color: black;
    --border: gray;
}

@media (prefers-color-scheme: dark) {
    :root{
        --background: rgb(17, 17, 17);
        --toast-bg: rgba(58, 58, 58, 0.95);
        --dialog-bg: rgba(125, 115, 115, 0.5);
        --link: dodgerblue;
        --color: white;
        --button-negative: rgb(44, 44, 44);
    }
}
